Machine Test 0/Node Backend/node_modules/
Machine Test 0/React Frontend/node_modules/
Machine Test 0/React Frontend/syncsite/node_modules
Machine Test 0/React Frontend/package-lock.json
Machine Test 2/Client/node_modules/
HashTag Company/Client/node_modules/
Tacnic Technology/Machine Test 2nd Round/Server/node_modules/
Tacnic Technology/Machine Test 2nd Round/Client/node_modules/
Tacnic Technology/Machine Test 1st Round/node_modules/